<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="static/assets/img/logo.png">
    <title>PUMAPS-Home</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="static/assets/css/News-Cards.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(93,193,185);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img src="static/assets/img/Logotipo%20Restaurante%20con%20Utensilios%20en%20Círculo%20Negro%20(1).png" width="80">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>PUMAPs</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-home"></i><span>Home</span></a><a class="nav-link" href="PUMAPS_FI.html"><i class="fa fa-building"></i><span>Facultad de Ingeniería</span></a><a class="nav-link" href="PUMAPS_Comida.html"><i class="fas fa-hamburger"></i><span>Comida</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="PUMAPS_Deportes.html"><i class="fa fa-soccer-ball-o"></i><span>Deportes</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="PUMAPS_Salud.html"><i class="fas fa-hand-holding-heart"></i><span>Salud</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="PUMAPS_Transporte.html"><i class="fas fa-university"></i><span>Sitios de interés académico</span></a><a class="nav-link" href="PUMAPS_Turisticos.html"><i class="fa fa-map-marker"></i><span>Sitios de interés cultural&nbsp;</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background: url(&quot;static/assets/img/EZS1W8PWkAwasOr.jpg&quot;);background-size: cover;">
                <nav class="navbar navbar-light navbar-expand bg-white text-start shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h3 class="mb-0" style="color: rgb(133,135,150);">Home</h3>
                    </div>
                </nav>
                <div class="card shadow mb-3"></div>
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-sm-8 col-md-7 col-lg-4 col-xxl-3 offset-xxl-0">
                            <div class="card mb-3" style="background: rgb(93, 193, 185);width: 20;height: 300;"></div><img src="static/assets/img/Logotipo%20Restaurante%20con%20Utensilios%20en%20Círculo%20Negro%20(1).png" width="250" height="250">
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card textwhite bg-primary text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card textwhite bg-success text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow"></div>
                                </div>
                            </div>
                            <div class="shadow card"><a class="btn text-start text-info card-header fw-bold" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button"><br><strong>¿Quiénes somos?</strong><br><br></a>
                                <div class="collapse show" id="collapse-4">
                                    <div class="card-body">
                                        <p class="m-0"><br><strong>PUMAPS (el nombre es una integración del PUMA que es una de las principales identidades de la UNAM con la palabra MAPS). Se trata de una Plataforma web en donde el usuario podrá realizar consultas acerca de información relevante de sitios de interés para poder desarrollar actividades&nbsp; académicas, de esparcimiento, deportivas y referentes a la salud dentro de Ciudad Universitaria todo ello complementado con un factor de movilidad para facilitar el acceso a dichos sitios con los medos de transporte disponibles.<br>
                                            <A href=https://github.com/rulas99/PUMAP>¡Colabora con nosotros!</A>
                                        </strong><br><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="photo-gallery">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">¡Conoce tu universidad!<br></h2>
                            </div>
                            <div class="row photos" data-bss-baguettebox="">
                                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/assets/img/desk.jpg"><img class="img-fluid" src="static/assets/img/New%20Folder/New%20Folder/CU-UNAM-1.jpg" width="500"></a></div>
                                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/assets/img/building.jpg"><img class="img-fluid" src="static/assets/img/New%20Folder/New%20Folder/fi-unam.jpg" width="500" height="100"></a></div>
                                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/assets/img/loft.jpg"><img class="img-fluid" src="static/assets/img/New%20Folder/New%20Folder/02.jpg" width="500" height="2"></a></div>
                                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/assets/img/building.jpg"><img class="img-fluid" src="static/assets/img/New%20Folder/New%20Folder/180820-Com1_destaca-princ.jpg" width="500"></a></div>
                            </div>
                        </div>
                    </section>
                    <div class="card shadow mb-5"></div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>PUMAPS © Prácticas Profesionales</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/Lightbox-Gallery.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>